<% if agent_signed_in? %>
  <p style="color: green"><%= notice %></p>
  <h1>Blogs</h1>
  <div id="blogs">
    <table id="properties-table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Author</th>
          <th scope="col" class="text-center" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td><%= blog.title %></td>
            <td><%= blog.body.truncate(50) %></td>
            <td><%= Agent.find(blog.agent_id).first_name %></td>
            <td><%= link_to 'Show', blog %></td>
            <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
            <td><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "New blog", new_blog_path %>
<% else %>
  <div class="container">
    <div class="col">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Agents
      </h3>
      <% @blogs.each do |blog| %>
        <%= link_to(blog) do %>
          <article class="blog-post">
            <h2 class="blog-post-title"><%= blog.title %></h2>
            <p class="blog-post-meta"><%= blog.created_at.to_date %> by <a href="#"><%= Agent.find(blog.agent_id).first_name %></a></p>
            <p><%= blog.body.truncate(250) %></p>
          </article>
        <% end %>
        <hr/>
      <% end %>
    </div>
  </div>
<% end %>
